
@{
    ViewBag.Title = "- Paymen Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center my-3">
    Congratulations,the accommodation has been booked for
    you from 25th of November to 26th of November. We wish you a nice stay!
</h4>
<div style="width: 700px" class="border border-3 border-dark mx-auto p-3">
    Payment Details:
    <div class="ms-5">
        <p>Transaction No: @ViewBag.Transaction</p>
        <p>Property Titel: @ViewBag.Property</p>
        <p>Total fee: @ViewBag.Price</p>
    </div>
</div>